.error {
  background-color: rgb(243, 54, 54);
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: example;
  animation-duration: 2s;
}

.error button {
  border-radius: 100%;
  background-color: #fff;
  color: rgb(243, 54, 54);
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 10px;
  font-weight: 900;
  /* float: right; */
}

.error button:hover {
  opacity: 1;
}

@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
