.reg-container h1 {
  text-align: center;
}

.reg-container {
  max-width: 400px;
  padding: 1rem;
  box-shadow: 3px 3px 5px 5px #bdbdbd;
  margin: auto;
  border-radius: 10px;
}

.reg-form {
  margin: 2rem auto 0;
  max-width: 350px;
}

.reg-form-button {
  width: 100%;
}
